

h1 {
  font-family: Helvetica;
  color: black;
  font-size: 36;
  }

h2 {
  font-family: Helvetica;
  color: gray;
  font-size: 24;
  }
  
  p {
    font-family: Helvetica;
    color: gray;
    font-size: 11;
  }
